$primary:#407BFF;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,500&display=swap');
@import "./style/login.scss";
@import "./style/home.scss";
@import "./style/sidebar.scss";
@import "./style/contacts.scss";





.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  
}
  